@model IEnumerable<ProjectManager.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";

}

<h2>My Projects</h2>
<!--https://selectize.github.io/selectize.js/ add collaborator to project-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Public)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>Project Tasks</th>
        <th>Project Board</th>
        <th>Time Management</th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Public)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            <a href="@Url.Action("Project", "Tasks")/@item.Id" class="btn btn-default">Task List</a>
        </td>
        <td>
            @Html.ActionLink("Board", "Project", "Board", new { id = item.Id }, new { @class = "btn btn-default" })
        </td>
        <td>
            @Html.ActionLink("Time Management", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
