@model IEnumerable<ProjectManager.Models.Task>

@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Scripts/layout/layout-default.css">

    <script src="~/Scripts/layout/jquery.layout.js"></script>
    <script src="~/Scripts/layout/callbacks/jquery.layout.resizePaneAccordions.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            myLayout = $('#flexLayout').layout({
                west__size: 800,
                center__size: 800,
                west__onresize: $.layout.callbacks.resizePaneAccordions,
                center__onresize: $.layout.callbacks.resizePaneAccordions
            });

        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="~/Scripts/app/projectlist.js"></script>
   
}

<div id="flexLayout" style="min-height:900px; height:100%;" ng-app='ProjectList'>

    <div class="ui-layout-center" style="display: none;">
        <div class="col-xs-6">
            <h1>Edit Data</h1>
            <div id="itemDetails" ng-controller="ItemController">
                <p>
                    state : <input type="text" ng-model="item.state" />
                </p>
                <p>
                    price : {{item.price}}
                </p>
                <p>
                    tax : {{item.tax}}
                </p>
                <p>
                    include :{{item.include}}
                </p>
            </div>
        </div>
    </div>


    <div class="ui-layout-west" style="display: none;">

        <h3>Tasks</h3>

        <table class="table" data-toggle="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Task
                </th>
                <th>
                    Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Progress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Board.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Progress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>


        <div ng-controller="ListController" class="col-xs-6">
            <h1>List Data</h1>
            <table class="table table-striped">
                <tr>
                    <th ng-click="type = 'include'; reverse = !reverse">Status</th>
                    <th ng-click="type = 'state'; reverse = !reverse">State</th>
                    <th ng-click="type = 'price'; reverse = !reverse">Price</th>
                    <th ng-click="type = 'tax'; reverse = !reverse">Tax</th>
                </tr>

                <tr ng-repeat="record in records | orderBy:type:reverse" ng-click="editItem(record)">
                    <td><input type="checkbox" ng-model="record.include"></td>
                    <td>{{record.state | uppercase}}</td>
                    <td>{{record.price | currency}}</td>
                    <td>{{record.tax | currency}}</td>
                </tr>
            </table>
        </div>


    </div>
</div>