<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager App</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/theme/Site.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/theme/dhtmlxgantt/dhtmlxgantt.css" type="text/css" />
    <script src="~/Scripts/pm/dhtmlxgantt/dhtmlxgantt.js" type="text/javascript" charset="utf-8"></script>

    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Project Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Projects", "Index", "Home")</li>
                <li>@Html.ActionLink("Teams", "Index", "Home")</li>
                <li>@Html.ActionLink("My Projects", "Index", "Home")</li>
                <li>@Html.ActionLink("Team Projects", "Index", "Home")</li>
            </ul>
        </div>
    </div>
       
    @RenderBody()

    <script src="~/Scripts/pm/main.js" type="text/javascript" charset="utf-8"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
