<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager App</title>
    @Styles.Render("~/Content/css")

    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Project Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("My Projects", "Index", "Projects")</li>
                <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                <li>@Html.ActionLink("Team Members", "Index", "TeamMembers")</li>
                <li>@Html.ActionLink("Team Projects", "Index", "TeamProjects")</li>
                <li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
                <li>@Html.ActionLink("Test", "Test", "Home")</li>
                <li>@Html.ActionLink("Board", "Index", "Board")</li>
                <li>@Html.ActionLink("Teams", "Test", "Home")</li>
                <li>@Html.ActionLink("My Projects", "Index", "Home")</li>
                <li>@Html.ActionLink("Team Projects", "Index", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
       
    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
